/**
index_v2.html
 --squaresPerRow
 --squareSize
*/


.square {
    border: 1px solid transparent;
    height: var(--squareSize);
    width: var(--squareSize);
    float:left;
    line-height: var(--squareSize); /* trick for vertical alignment this matches height */
    text-align: center;
    border-collapse: separate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}

.level {

    border: 1px solid blue;
    --numSquares: calc(var(--squaresPerRow) * 2px);
    width: calc(var(--numSquares) + calc(var(--squareSize))*var(--squaresPerRow));
    height: calc(var(--numSquares) + calc(var(--squareSize))*var(--squaresPerRow));
}


.responsiveTableGrid {
    position : absolute;
    width : 100%;
    height : 100%;
    background-color : transparent;
    text-align: center;
}

.responsiveTableGrid:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.tableGridContainer {
    border: 5px solid transparent;
    height : 75%;
    width : 75%;
    background-color : transparent;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#log {
    border: 5px solid black;
    height : 25%;
    width : calc(100% - 10px);
    background-color : transparent;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    text-align: left;
    overflow: scroll;
}

.logDate {
    font-style: italic;
}

.logType {
    font-variant: small-caps;
}

.logEmphasis {
    font-weight: bold;
}

.logEnemyDamage, .logPlayerGood {
    padding: 0 0.5em;
    border-radius: 1em;
    background-color: green;
    color: white;
}

.logDamageToPlayer {
    padding: 0 0.5em;
    border-radius: 1em;
    background-color: red;
    color: white;
}

.logOption {
    padding: 0 0.5em;
    border-radius: 1em;
    background-color: blue;
    color: white;
}

.logExperience {
    padding: 0 0.5em;
    border-radius: 1em;
    background-color: purple;
    color: white;
}

.logEnemy {
    padding: 0 0.5em;
    border-radius: 1em;
    background-color: orange;
    color: black;
    font-weight: bold;
}

.logGold {
    padding: 0 0.5em;
    border-radius: 1em;
    background-color: gold;
    color: black;
    font-weight: bold;
}

.logPlayerLevelUp {
    padding: 0 0.5em;
    background-color: lightgreen;
    color: black;
}

.tableGridContainer table {
    border: 5px solid black;
    background: repeat url('/images/dungeon_floor_light.png');
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.tableGridContainer #playerInfo {
    position: absolute;
    top:0;
    right:0;
    height: 25%;
    width: 25%;
    border-radius: 1em;
    border: 5px solid black;
    background-color: white;
}

.tableGridContainer .specialEvent {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border: none;
    background-color: transparent;
}

.westWall {
    border-left: 4px solid lightgray;
}
.eastWall {
    border-right: 4px solid lightgray;
}
.southWall {
    border-bottom: 4px solid lightgray;
}
.northWall {
    border-top: 4px solid lightgray;
}

.oob {
    background-image: url('images/v2/stoneborder.png');
}