/**
index_v2.html
 --squaresPerRow
 --squareSize
*/


.square {
    border: 1px solid transparent;
    height: var(--squareSize);
    width: var(--squareSize);
    float:left;
    line-height: var(--squareSize); /* trick for vertical alignment this matches height */
    text-align: center;
    border-collapse: separate;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: small;
}

.level {

    border: 1px solid blue;
    --numSquares: calc(var(--squaresPerRow) * 2px);
    width: calc(var(--numSquares) + calc(var(--squareSize))*var(--squaresPerRow));
    height: calc(var(--numSquares) + calc(var(--squareSize))*var(--squaresPerRow));
}


.responsiveTableGrid {
    position : absolute;
    width : 100%;
    height : 100%;
    background-color : transparent;
    text-align: center;
}

.responsiveTableGrid:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.tableGridContainer {
    border: 5px solid transparent;
    height : 75%;
    width : 75%;
    background-color : transparent;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

#log {
    border: 5px solid black;
    height : 25%;
    width : calc(75% - 10px);
    background-color : transparent;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.tableGridContainer table {
    border: 5px solid black;
    background: repeat url('/images/dungeon_floor_light.png');
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.westWall {
    border-left: 4px solid lightgray;
}
.eastWall {
    border-right: 4px solid lightgray;
}
.southWall {
    border-bottom: 4px solid lightgray;
}
.northWall {
    border-top: 4px solid lightgray;
}

.oob {
    background-image: url('images/v2/stoneborder.png');
}