<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB">
<head>
	<title>Telengard</title>
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<meta name="description" content="Telengard description" />
	<meta name="keywords" content="Telengard keywords" />
	<meta name="robots" content="index, follow" />
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="css/screen.css" media="screen" />
	<link rel="stylesheet" href="css/grid.css">
</head>
<body>

<div id="header"></div>
<div class="colmask threecol">
	<div class="colmid">
		<div class="colleft">
			<div class="col1">
				<!-- Column 1 start -->
				<div class="level"></div>
				
				<!-- Column 1 end -->
			</div>
			<div class="col2">
				<!-- Column 2 start -->
				<div class="textContainer">
					
				</div>
				<!-- Column 2 end -->
			</div>
			<div class="col3">
				<!-- Column 3 start -->
				
				<!-- Column 3 end -->
			</div>
		</div>
	</div>
</div>
<div id="footer"></div>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/underscore/underscore.js"></script>
<script src="/seedrandom/seedrandom.min.js"></script>
<script src="js/app.js"></script>
<script src="js/app_utils.js"></script>
<script src="js/DiceUtils.js"></script>
<script src="js/calculations.js"></script>
<script src="js/pc.js"></script>
<script src="js/monsters.js"></script>
<script src="js/keyboard.js"></script>
<script src="js/wrv.js"></script>
<script src="js/index.js"></script>
</body>
</html>
