<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Telengard</title>
        <link rel="stylesheet" href="css/grid.css">
    </head>
    <body>
        <div class="level"></div>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/underscore/underscore.js"></script>
        <script src="/seedrandom/seedrandom.min.js"></script>
        <script src="js/wrv.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>
